@font-face {
    font-family: "MoreSugarRegular";
    src: url("/font/MoreSugar-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "MoreSugarThin";
    src: url("/font/MoreSugar-Thin.ttf");
    font-weight: normal;
}

html{
    scroll-behavior: smooth;
    min-height: 100vh;
    height: max-content;
    scrollbar-width: thin;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

.Rouge{
    color: red;
}

button *{
    cursor: pointer;
}

/*COMMUN AUX DIFFERENTES PAGES*/

/*Barre nav*/

nav{
    display: grid;
    width: 100%;
    height: 120px;
    grid-template-rows: 120px;
    grid-template-columns: 25vw repeat(4, minmax(170px, 1fr)) 75px 75px;
    background-color: gray;
    font-family: MoreSugarRegular, sans-serif;
    color: white;
    align-items: center;
    position: fixed;
    z-index: 2;
}


nav > img{
    aspect-ratio: 236/100;
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 3px 0;
    grid-row: 1/-1;
    grid-column: 1/2;
}

nav a{
    text-decoration: none;
    display: block;
    color: white;

}

nav a p, nav a i{
    width: max-content;
    margin: auto;
    height: max-content;
    transition: color 0.5s;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}

nav a p:hover, nav a i:hover{
    color: #f4900c;
}

.FirstLetter{
    transition: color 0.5s;
}

nav a p:hover .FirstLetter{
    color: #77b255;
}

nav i{
    justify-self: start;
}


.prefooter{
    background-color: gray;
    height: 130px;
}

footer{
    background-color: dimgray;
    height: 100px;
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-columns: 300px 1fr 300px;
    bottom: 0;
    align-items: center;
    font-size: 2em;
    color: white;
    z-index: 3;
}

footer img{
    width: 100px;
    height: 100px;
    justify-self: center;
    margin-top: 5px;
}

.reseaux{
    width: max-content;
    justify-self: center;
}

.reseaux a *{
    cursor: pointer;
}

footer > a{
    justify-self: end;
    width: max-content;
    margin-right: 10px;
    cursor: pointer;
}

.reseaux a > i{
    position: relative;
    color: white;
    cursor: pointer;
}

.remplissage{
    position: absolute;
    transition: all 0.3s;
    opacity: 0;
    height: 0;
    width: 100%;
    color: #f4900c;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
footer a:hover .remplissage{
    height: 100%;
    opacity: 1;
}

.arrowTop{
    color: white;
    transition: all 0.3s;
    font-size: 1.8em;
    margin-right: 50px;
}

.arrowTop i{
    cursor: pointer;
}

.arrowTop:hover{
    color: #77b255;
    margin-bottom: 20px;
}

.dev{
    cursor: default;
}
/*Conteneur Index*/

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: max-content;
    background-color: gray;
}

.champs1{
    width: 100%;
    margin-top: 120px;
    height: 550px;
}

.champs1 img{
    object-fit: cover;
    aspect-ratio: 1230/550;
    height: 100%;
    width: 100%;
}

.Presentation{
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f4900c;
    font-family: MoreSugarRegular, sans-serif;
    height: 180px;
    font-size: 1.3em;
    grid-template-columns: 1fr 1fr;
}

.Presentation h2{
    height: max-content;
    width: max-content;
    margin: auto 0 auto auto;
}

.welcome{
    color: #77b255;
    font-size: 1.5em;
}

.Presentation img{
    width: 170px;
    height: 170px;
    margin: auto auto auto 0;
}

.decouverte{
    width: 100%;
    height: 520px;
    background-color: gray;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 150px;
    padding-bottom: 20px;
}

.imgDecouverte{
    height: 500px;
    width: 282px;
    justify-self: center;
    grid-column: 2/3;
}

.imgDecouverte img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 9/16;
    border-radius: 10px;
}

#txtDecouverte{
    color: white;
    width: 500px;
    font-family: Bahnschrift, sans-serif;
    text-align: justify;
    align-self: center;
    text-indent: 10%;
    grid-column: 3/4;
    cursor: default;
}

.pub{
    display: grid;
    grid-template-rows: repeat(4, 125px);
}



/*Page Liste Produits*/

.ListeProduits{
    width: 80%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(350px, max-content));;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 13px;
    margin: 150px auto auto;
}


.card{
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr max-content max-content max-content;
    align-items: center;
    background-color: darkorange;
    border: 2px white solid;
    transition: all 0.2s;
    font-family: Bahnschrift, sans-serif;
}

.card:hover{
    transform: scale(1.05);
}

.imageCard{
    height: 100%;
    width: 100%;
    grid-column: 1/-1;
}

.imageCard img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nomCard{
    grid-column: 1/-1;
    padding: 10px 0;
    font-weight: bold;
    width: 80%;
    margin: auto;
    border-bottom: 1px black solid;
    color: ghostwhite;
    font-size: 1.2em;
    text-shadow: black 1px 1px 3px;
}


.livraisonCard, .prixCard{
    padding: 8px 0;
}

.livraisonCard p{
    text-align: center;
}


.card p{
    width: max-content;
    margin: auto;
}

.livraisonCard p{
    width: 90%;
    margin: auto;
}

.card > a{
    grid-column: 1/-1;
    width: 90%;
    margin: auto;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-top: 1px black solid;
    transition: all 0.2s;
    cursor: pointer;
}

.card > a:hover{
    color: ghostwhite;
    text-shadow: 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255;
}

.detailsCard:hover p{
    transform: scale(1.2);
}


.detailsCard, .detailsCard p{
    cursor: pointer;
    transition: all 0.2s;
}

/*CONTACT*/

.contact{
    margin: 160px auto auto auto;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: 0.4fr 125px 1fr 125px 0.7fr;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    font-family: Bahnschrift, sans-serif;
    grid-column-gap: 1px;
}

.contact *{
    background-color: gray;
}

.liensContact, .ordonnerReseauxContact{
    display: grid;
    grid-template-rows: repeat(3, max-content);
    border: 2px black solid;
    background-color: black;
    grid-gap: 2px;
    width: 75%;
    margin-top: 15px;
}

.liensContact a, .ordonnerReseauxContact a{
    text-decoration: none;
    background-color: dimgray;
    padding: 3px;
    color: floralwhite;
    text-align: center;
    transition: all 0.1s;
    cursor: pointer;
}

.liensContact a:hover, .ordonnerReseauxContact a:hover{
    text-shadow: white 1px 1px 1px;
}

.liensContact a i, .ordonnerReseauxContact a i{
    margin-right: 5px;
}

.directContact{
    grid-column: 1/2;
    grid-row: 1/3;
    z-index: 2;
}

.mapsContact{
    grid-column: 2/-1;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.contact > h2, .contact > p{
    width: max-content;
}

.mapsContact > *{
    margin: auto;
}

.mapsContact p{
    font-size: 1.7em;
}

.reseauxContact{
    grid-column: 1/2;
    grid-row: 4/6;
    height: 100%;
    z-index: 2;
}

.contact h1, .contact h2, .contact p{
    color: #f4900c;
}

.VertContact{
    color: #77b255;
}

/*ORGANIGRAMME*/
.orga{
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 250px 1fr;
    margin: 150px auto auto;
    width: 95%;
    height: max-content;
    font-family: Bahnschrift, sans-serif;
    align-self: center;
}

.listeSala{
    display: flex;
    height: max-content;
    margin: auto;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    position: fixed;
    padding: 40px 20px 20px 50px;
}

.listeSala h3{
    color: #f4900c;
    border-bottom: 2px #f4900c solid;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.listeSala a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px #f4900c solid;
    margin-bottom: 15px;
    font-size: 1.2em;
    width: 80%;
    transition: all 0.5s;
    cursor: pointer;
}

.on{
    text-shadow: 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255;
    border-bottom: 2px solid #77b255;
}

.listeSala a:hover{
    text-shadow: 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255;
    border-bottom: 2px solid #77b255;
}

.contentOrgaGlobal{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 100px max-content 75px 200px 75px 300px;
    text-align: justify;
    grid-row: 1/-1;
    grid-column: 2/3;
    margin: auto;
    color: white;
}

.contentOrgaGlobal h1, .contentOrgaGlobal h2, .marches{
    grid-column: 1/-1;
    /*color: #f4900c;*/
    height: max-content;
    text-align: center;
    font-weight: bold;
    width: max-content;
    margin: auto;
    text-shadow: 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255, 0 0 2px #77b255;
}

.contentOrgaGlobal h1{
    border-bottom: 2px solid white;
}

.contentOrgaGlobal h2{
    padding: 10px;
    border: 2px solid white;
}

.contentOrgaGlobal h3{
    border-bottom: 2px solid #f4900c;
    font-size: 1.4em;
    height: max-content;
    width: max-content;
    margin: auto;
}

.contentOrgaGlobal img{
    object-fit: contain;
    margin: auto;
    width: 100%;
    padding-right: 80px;
}

.paraOrga{
    padding: 20px;
    margin-bottom: 50px;
    border-left: 3px solid #f4900c;
}

.marches > li{
    color: white;
    width: max-content;
    margin: auto;
    padding-bottom: 25px;
    font-weight: normal;
    text-shadow: none;
}

.contentOrgaGlobal h3{
    color: #f4900c;
    text-align: center;
}

.clients, .collab{
    width: 80%;
    margin: 0 auto auto;
}

.collab{
    width: 250px;
}

.contentInfosSala{
    width: 75%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px repeat(3, max-content);
    text-align: justify;
    grid-row: 1/-1;
    grid-column: 2/3;
    margin: auto;
    color: white;
    height: max-content;
    align-self: center;
    grid-row-gap: 5px;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: dimgray;
}

.contentInfosSala img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 1px solid white;
}

#descrSala{
    margin: auto;
    align-self: center;
    text-align: justify;
    padding: 10px 10px 10px 25px;
    width: 80%;
    text-indent: 1cm;
}

.activitesSala{
    grid-column: 2/3;
    grid-row: 2/-1;
    padding-bottom: 20px;
}

.activitesSala h1{
    text-align: center;
    padding-bottom: 20px;
}

.activitesSala *{
    width: 80%;
    margin: auto;
    padding-top: 5px;
}

#nomSala, #posteSala, #salaireSala{
    width: max-content;
    height: max-content;
    align-self: center;
    margin: auto;
    font-size: 1.2em;
    color: #f4900c;
    padding-bottom: 3px;
}

.infosSala{
    grid-column: 1/2;
    grid-row: 2/-1;
    padding-top: 8px;
}

#nomSala:first-letter{
    color: #77b255;
}

.firstLetterNom{
    color: #77b255;
}

/*PAGE INFOS PRODUIT */
.produit{
    background-color: white;
    margin: 130px auto 120px;
    width: 80%;
    border-radius: 10px;
    height: 1000px;
    font-family: Bahnschrift, sans-serif;
    position: relative;
}

.produit > *{
    width: 95%;
    margin: auto;
    text-align: justify;
}

#back{
    width: 1.5cm;
    position: absolute;
    height: 1.5cm;
    color: gray;
    font-size: 2.5em;
    background-color: #f4900c;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.6cm;
    transition: all 0.6s;
    z-index: 0;
    cursor: pointer;
}

.retourListeProduitsFromProduitUnique{
    left: -2cm;
    top: 0.8cm;
}

#back i{
    cursor: pointer;
}

#back:hover{
    background-color: gray;
    color: #f4900c;
    transform: rotate(360deg);
}


.infosProduit{
    margin: 30px auto auto;
    display: grid;
    height: max-content;
    grid-template-columns: 420px 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
}

.infosProduit img{
    grid-column: 1/2;
    grid-row: 1/-1;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid #f4900c;
}

.infosProduit h2{
    color: #f4900c;
    padding-left: 20px;
    font-size: 2.5em;
    font-family: "MoreSugarThin", sans-serif;
    grid-row: 1/2;
    grid-column: 2/-1;
    text-align: center;
}

.infosProduit p{
    font-size: 1.5em;
    margin: auto;
    width: 100%;
    text-align: center;
}

#prixProduit{
    grid-column: 2/3;
    grid-row: 2/3;
    color: #77b255;
}

#joursLiv{
    grid-row: 2/4;
    grid-column: 3/-1;
    color: #77b255;
}

#stock{
    font-size: 1.15em;
}

.infosProduit .ajoutPanier{
    margin: auto;
}

.descrProduits{
    margin-top: 20px;
    padding-top: 15px;
    border-top: 2px solid black;
}

.descrProduits h2{
    margin-bottom: 10px;
}

.avisProduits{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid black;
}

.avisProduits h2{
    font-size: 1.8em;

}

.listeAvis{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, max-content);
    margin-top: 20px;
}

.avisUnique{
    padding: 5px 20px 20px 10px;
    border-right: 1px solid black;

}

.avisUnique:nth-child(2n){
    border: none;
    padding-left: 20px;
}

.avisUnique h2{
    font-size: 0.8em;
}

.avisUnique p{
    padding-top: 10px;
    font-size: 0.6em;
    font-weight: normal;
}



.jaune{
    color: gold;
}

/*BOUTON AJOUT PANIER*/


.produit form{
    grid-row: -2/-1;
    grid-column: -3/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.erreurQté{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.erreurQté p{
    color: red;
    text-align: center;
    width: 70%;
    font-size: 0.8em;
    margin: 3px auto auto;
}

.quantite{
    border-radius: 20px;
    height: 40%;
    width: 60%;
    color: black;
    transition: all 0.5s;
    text-align: center;
    align-self: center;
    border: bisque 3px solid;
    background-color: floralwhite;
    margin: auto;
    cursor: text;
}

.erreur{
    margin: auto auto 3px;
}


.quantite:focus{
    outline: none;
    border-radius: 0;
    border-bottom: #f4900c solid 3px;
    transform: scale(1);

}

.ajoutPanier{
    background-color: #f4900c;
    color: white;
    border: 2px solid #dc830e;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    cursor: pointer;
    font-family: Bahnschrift, sans-serif;
    font-size: 1em;
    transition: all 0.3s;
    margin: auto 3cm auto auto;
}

.ajoutPanier:hover{
    font-size: 1.3em;
}

.valeurInterdite, .ajoutPanierInterdit{
    background-color: #b4b4b4;
    cursor: not-allowed;
    border: 1px solid gray;
    color: black;
}


/*PANIER*/

.panier{
    margin: 130px auto 130px auto;
    width: 90%;
    font-family: Bahnschrift, sans-serif;
}

.panier h2{
    color: #f4900c;
    font-size: 3em;
    text-align: center;
    width: 100%;
    font-family: "MoreSugarThin", sans-serif;

}

.panier h3{
    color: #77b255;
    width: max-content;
    margin: 25vh auto auto;
    font-size: 2.5em;
    font-family: "MoreSugarThin", sans-serif;
}

.tabPanier{
    width: 100%;
    background-color: bisque;
    margin-top: 20px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.prodPanier{
    display: grid;
    grid-template-columns: 50px 0.6fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 115px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #f4900c;
    line-height: 100%;
    border-top: 2px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.startTabPanier{
    border: none;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 3px;
}

.startTabPanier p:first-letter{
    color: #77b255;
}

.supp{
    font-family: "MoreSugarRegular", sans-serif;
    font-size: 1.3em;
    background-color: bisque;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.supp:hover{
    transform: rotate(180deg);
    color: #f4900c;
}


.prodPanier img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    margin: auto 10px auto auto;
}

.prodPanier p{
    height: max-content;
}

.quantiteFormPanier{
    width: 30%;
    padding: 3px 5px;
    margin-right: 15px;
    border: #f4900c 2px solid;
    border-radius: 5px;
    height: 0.75cm;
    cursor: text;
}

.modifierPanier{
    color: white;
    border: 2px solid #77b255;
    background-color: #f4900c;
    padding: 3px 5px;
    font-family: MoreSugarThin, sans-serif;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s;
}

.modifierPanier:hover{
    transform: scale(1.1);
}


#buttonValiderPanier{
    background-color: #f4900c;
    border-radius: 10px;
    border: 2px solid #dc830e;
    color: white;
    scale: 1.1;
    transition: all 0.5s;
    padding: 8px;
    cursor: pointer;
}

#buttonValiderPanier:hover{
    transform: scale(1.2);
}

/*CONNEXION*/
.connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: max-content;
    margin: 25vh auto auto;
    border: 3px solid #f4900c;
    border-radius: 10px;
    font-family: Bahnschrift, sans-serif;
}

.connexion h1{
    width: max-content;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f4900c;
    margin: 10px auto 5px;
}

.connexion form{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.connexion form > *{
    height: 1cm;
    margin-bottom: 5px;
    outline: none;
    cursor: text;
}

#buttonConnexion{
    width: 50%;
    background-color: #f4900c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px auto 15px;
    transition: all 0.5s;
    font-family: Bahnschrift, sans-serif;
}

#buttonConnexion:hover{
    border-radius: 10px;
    background-color: #77b255;
}

.connexion p, .connexion a{
    width: max-content;
    text-decoration: none;
    color: white;
    margin: auto auto 10px;
}

.connexion a{
    padding: 10px;
    background-color: #77b255;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.connexion a:hover{
    background-color: #f4900c;
}

/*CREATE USER*/

.createUser{
    width: 80%;
    font-family: Bahnschrift, sans-serif;
    height: max-content;
    margin: 130px auto;
}

.createUser h1{
    text-align: center;
    color: #f4900c;
}

.createUser form{
    width: 50%;
    border-radius: 5px;
    border: 5px solid #dc830e;
    color: white;
    background-color: #575656;
    padding: 50px 15px 35px;
    margin: 25px auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.createUser input{
    display: block;
    color: black;
    cursor: text;
    height: 25px;
}

.createUser input, .createUser label, .infoPassword, .erreurForm{
    width: 75%;
    margin: 5px auto;
}

.infoPassword, .erreurForm{
    font-style: italic;
    font-size: 0.9em;
}

.erreurForm{
    font-family: MoreSugarThin, sans-serif;
    color: #ec3636;
    font-size: 1.1em;
}

.buttonCreerUser{
    width: 75px;
    border-radius: 50%;
    border: 4px solid #f1ab56;
    cursor: pointer;
    height: 75px;
    font-size: 1.1em;
    font-family: Bahnschrift, sans-serif;
    color: white;
    background-color: #f4900c;
    margin: 15px auto auto;
    transition: all 0.5s;
}

.buttonCreerUser:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px #f1ab56;
}

/*PAGE USER*/
.pageUser{
    margin: 140px auto 130px auto;
    width: 90%;
    font-family: Bahnschrift, sans-serif;
}

.pageUser h1{
    font-family: MoreSugarRegular, sans-serif;
    color: white;
}

.infosUsers{
    width: 70%;
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 133px 133px 133px max-content;
    margin: auto auto 50px;
    text-align: center;
    color: #ec9535;
}

.infosUsers img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-row: 1/4;
    border-radius: 10px;
}

.infosUsers p{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.3em;
    text-shadow: 0 0 1px #f4900c;
}

.infosUsers p:nth-child(2n+1){
    border-left: 2px solid black;
}

.infoPageUser{
    color: #f89927;
    font-size: 0.8em;
    text-shadow: none;
}

#mailUser{
    border-top: 2px solid black;
    grid-column: 2/-1;
    width: 80%;
    margin: auto;
}

#deconnexion{
    grid-row: -1/-2;
    grid-column: -1/-2;
}

#modifier{
    grid-row: -1/-2;
    grid-column: -2/-3;
}

#deconnexion button, #modifier button{
    padding: 5px 10px;
    background-color: black;
    border: 2px solid #f4900c;
    border-radius: 5px;
    color: #f4900c;
    font-family: Bahnschrift, sans-serif;
    cursor: pointer;
    transition: transform 0.5s;
}

#deconnexion button:hover, #modifier button:hover{
    transform: scale(1.05);
}

#deconnexion button i, #modifier button i{
    transition: all 0.5s;
    padding-right: 5px;
}

#listeCommandesPassees{
    width: 60%;
    margin: 30px auto auto;
    /*border: black 2px solid;*/
    padding: 10px;
    border-collapse: collapse;
}

#ancienneCommandeEmpty{
    font-size: 1.5em;
    font-family: MoreSugarThin, sans-serif;
    cursor: default;
}

#ancienneCommandeEmpty:hover{
    transform: none;
}

#listeCommandesPassees .grilleAncienPanier{
    border-bottom: black 1px solid;
    transition: transform 0.5s;
}

#listeCommandesPassees .grilleAncienPanier:last-child{
    border: none;
}

#listeCommandesPassees .grilleAncienPanier:hover{
    transform: scale(1.05);
}

#listeCommandesPassees td{
    padding: 10px 10px 10px;
    width: 25%;
    text-align: center;
}

#listeCommandesPassees i{
    font-size: 1.5em;
    color: #dc830e;
}

#listeCommandesPassees .grilleAncienPanier td{
    cursor: pointer;
}




/*PAGE ANCIEN PANIER*/

.ancienPanier{
    margin: 140px auto 130px auto;
    width: 90%;
    font-family: Bahnschrift, sans-serif;
    background-color: bisque;
    border-radius: 10px;
    position: relative;
}

.retourPageUserFromAncienPanier{
    left: 25%;
    top: 0.85cm;
}

.ancienPanier h1{
    color: #dc830e;
    text-align: center;
    margin-top: 40px;
}

.ancienPanier table{
    border-collapse: collapse;
    width: 70%;
    margin: 70px auto auto;
}

.ancienPanier table thead th{
    height: 50px;
    color: #dc830e;
    font-size: 1.3em;
}

.ancienPanier table thead th:first-letter{
    color: #77b255;
}

.ancienPanier table tr{
    border-bottom: #77b255 2px solid;
}

.ancienPanier table tbody tr:last-child{
    border: none;
}

.ancienPanier table td{
    width: 16%;
    height: 175px;
    text-align: center;
    padding: 10px;
}

.ancienPanier table tbody tr:last-child td{
    height: 125px;
}

.ancienPanier table tr td:first-child{
    width: 100px;
}

.ancienPanier table img{
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

/*VALIDATION PANIER*/

.validationPanier{
    margin: 150px auto 130px auto;
    width: 70%;
    font-family: Bahnschrift, sans-serif;
    border: 3px solid #77b255;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
    position: relative;
}

.validationPanier input, .validationPanier select, .validationPanier button{
    cursor: pointer;
}

.retourPanierFromValidation{
    left: -2.25cm;
    top: 0.5cm;
}

.validationPanier form{
    width: 90%;
}

.validationPanier h1{
    text-align: center;
    color: #dc830e;
    padding: 5px;
}

.validationPanier form > *{
    border-bottom: 2px solid #77b255;
    margin-bottom: 15px;
    margin-top: 10px;
}

.validationPanier h2{
    color: #dc830e;
    margin-bottom: 10px;
}

/*INFOS USER VALIDATION PANIER*/

.infosFinales{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    color: #dc830e;
    padding: 10px;
}

.nomPrenomMail{
    display: grid;
    width: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, max-content);
}

#mailFinal{
    grid-column: 1/-1;
}

.mapsLivValidation iframe{
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
}

/*PRIX VALIDATION PANIER*/

.prixTotalFinCommande{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #f4900c;
    text-align: center;
}

#nomPrixTotal, .prixTotalFinCommande label{
    font-size: 1.1em;
    font-weight: bold;
}

.prixTotalFinCommande p{
    margin-bottom: 8px;
}

.remise{
    margin-right: 12px;
    padding-bottom: 2px;
    border-bottom: 2px solid #77b255;
}

.prixPostRemise{
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 4px;
}

.messagePromo{
    margin-top: 8px;
}

.annulerRemise{
    margin-bottom: 15px;
}

.prixTotalFinCommande input{
    cursor: text;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 3px;
    border: 1px solid #f4900c;
    transition: all 0.5s;
    height: 0.6cm;
    padding: 3px;
}

.prixTotalFinCommande input:focus{
    outline: 1px solid #dc830e;
}

.buttonPromo{
    color: white;
    background-color: #f4900c;
    border: #dc830e 2px solid;
    border-radius: 10px;
    padding: 5px;
    font-family: Bahnschrift, sans-serif;
    transition: all 0.5s;
}

.buttonPromo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #77b255;
}

/*LIVRAISON VALIDATION PANIER*/

.lieuLivraison{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.selectLiv{
    background-color: #f1ab56;
    border-radius: 10px;
    color: white;
    font-family: Bahnschrift, sans-serif;
    border: none;
    width: 50%;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    font-size: 1em;
    margin: 1cm auto auto;
    height: 0.8cm;
}

.affichageInfosLiv{
    display: none;
}

.affichageInfosLivYes{
    margin-top: 12%;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: repeat(3, 50px);
    text-align: center;
    width: 50%;
}

.affichageInfosLivYes p{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nomPtLiv, .telPtLiv{
    grid-column: 1/-1;
}

.telPtLiv i{
    margin-right: 8px;
}

/*PAIEMENT VALIDATION PANIER*/

.methodePaiement{
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr 2fr;
}

.moyenPaiementChoix{
    width: 100%;
    border-right: 2px solid #77b255;
    padding-top: 10px;
    margin-bottom: 30px;
    grid-row: 2/-1;
    grid-column: 1/2;
}

.moyenPaiementChoix p{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.moyenPaiementChoix label{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.moyenPaiementChoix i{
    padding-left: 10px;
    font-size: 1.4em;
    cursor: pointer;
}

.moyenPaiementChoix p input{
    margin-right: 10px;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.moyenPaiementChoix input[type=radio]{
    border-radius: 50%;
    height: 13px;
    width: 13px;
    content: "";
    background: bisque;
    border: 2px solid #77b255;
    transition: all 0.5s;
}

.moyenPaiementChoix input[type=radio]:checked{
    background: #77b255;
    transform: scale(1.2);
}


#applePay i, #paypal i{
    font-size: 1.7em;
}

.affichageInfosPaiement{
    display: none;
}

.paypalDiv, .applePayDiv, .cadeauDiv, .creditDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-row: 1/-1;
}

.paypalDiv button, .applePayDiv button{
    display: flex;
    margin: auto;
    align-items: center;
    height: 1.3cm;
    font-family: Bahnschrift, sans-serif;
    color: white;
    background-color: #f4900c;
    transition: transform 0.5s;
    padding: 15px;
    border: none;
    font-size: 1.01em;
    border-radius: 10px;
}

.paypalDiv button svg, .applePayDiv button i{
    margin-left: 5px;
    font-size: 2.5em;
}

.paypalDiv button:hover, .applePayDiv button:hover{
    border: 2px solid #77b255;
    transform: scale(1.1);
}


.cadeauDiv label{
    margin-right: 7px;
}

.cadeauDiv input{
    cursor: text;
    height: 25px;
    width: 300px;
    transition: outline 0.3s;
    position: relative;
}

.cadeauDiv input:focus{
    outline: 2px solid orange;
}

.invisible{
    display: none;
}

.valide, .invalide{
    display: block;
    margin-left: 5px;
}

.valide{
    color: green;
}

@keyframes Nope {
    0%{
    }
    12.5%{
        transform: translateX(2px);
    }
    25%{
        transform: translateX(-2px);
    }
    37.5%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(2px);
    }
    62.5%{
        transform: translateX(2px);
    }
    75%{
        transform: translateX(-2px);
    }
    87.5%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(2px);
    }

}

.invalide{
    color: red;
    animation: 0.25s Nope linear;
}

.boutonCadeauInvisible{
    display: none;
}

.boutonCadeauVisible{
    display: block;
    position: absolute;
    padding: 8px;
    margin-top: 100px;
    background-color: #f4900c;
    color: white;
    border-radius: 10px;
    border: 2px solid #dc830e;
    font-family: Bahnschrift, sans-serif;
    transition: transform 0.5s;
}

.boutonCadeauVisible:hover{
    transform: scale(1.15);
}


.creditDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    width: 90%;
    margin: auto;
    align-self: center;
    height: max-content;
    grid-gap: 8px;
}

.creditDiv h3{
    grid-column: 1/-1;
    color: #f4900c;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}

.creditDiv input{
    cursor: text;
    padding: 5px;
}



/*BOUTON VALIDATION PANIER FINAL*/

#validationPanier{
    font-family: Bahnschrift, sans-serif;
    background-color: #f4900c;
    border: 2px solid #dc830e;
    padding: 15px;
    border-radius: 20px;
    margin: 7px auto 15px;
    color: white;
    font-size: 1.02em;
    transition: all 0.5s;
}

#validationPanier:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px #77b255;
}

.centerButton{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TEST*/
.test{
    margin: 140px auto;
}




/*SCROLL-BAR-FIREFOX*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background: #77b255;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: orange;
}

.Rouge{
    color: red;
}